a, abbr, acronym, address, applet, article, aside, audio,
b, blockquote, big, body,
center, canvas, caption, cite, code, command,
datalist, dd, del, details, dfn, dl, div, dt, 
em, embed,
fieldset, figcaption, figure, font, footer, form, 
h1, h2, h3, h4, h5, h6, header, hgroup, html,
i, iframe, img, ins,
kbd, 
keygen,
label, legend, li, 
meter,
nav,
object, ol, output,
p, pre, progress,
q, 
s, samp, section, small, span, source, strike, strong, sub, sup,
table, tbody, tfoot, thead, th, tr, tdvideo, tt,
u, ul, 
var{
	border: 0 none;
	font-size: 100%;
	border: 0;
	outline: 0;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
table, table td { 
	border:none;
	border-collapse:collapse;
}
img {
	vertical-align:top; 
}
embed { 
	vertical-align:top;
}
.main .inside div #login-box #login-box-name {
	color: #518EE2;
}
#content .main .inside .container_24 .suffix_1 div #login-box p .login-box-options {
	color: #fc0087;
}
.change {
	color: #fc0087;
}
#content .main .inside .container_24 .suffix_1 div #login-box p .login-box-options a {
	color: #FFFFFF;
}
.c {
	color: #666;
}
