/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video{ display: block; }
mark, rp, rt, ruby, summary, time{ display: inline }

* {
	margin:0;
}
html, body { height:100%;  min-width:950px;}	
body {
	background:#f8f8f8;
	font-family:Arial, Helvetica, sans-serif;
	font-size:100%;
	line-height:1.125em;
	color:#000;
	alignment-adjust: central;
	}
	
iframe {display: block;}
input, select, textarea {
	font-family:Arial, Helvetica, sans-serif;
	font-size:1em;
	vertical-align:middle;
	font-weight:normal;
	padding: 3px;
	color: #333333;
}
object { vertical-align:top; outline:none}
.alignMiddle{ vertical-align:middle}
.alignCenter{ text-align: center}
.container1{
	width:inherit;
}
.clear { clear:both;}
.fleft{ float:left}
.fright{ float:right}
.container {
	overflow:hidden;
	width: 100%;
	border-color: #000;
}
a img{ border:0px}
img{
	vertical-align:top;
	width: 100%;
}
fieldset{ border:none}
.oh{ overflow:hidden}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10{ float:left}
/*======= width =======*/
.main {margin: 0 auto;	position: relative;	width: 950px; }

.row1 .col-1{ width:95px; margin:0; padding-top:5px}
.row1 .col-2{ width:271px; margin:0}
.row1 .col-3{
	width:119px;
	margin:0;
}
.row1 .col-4{ width:45px; margin:0; padding-top:5px}
.row1 .col-5{ width:107px; margin:0}

.row2 .col-1{
	width:190px;
	margin:0;
	padding-top:5px;
	font-size: 17px;
}
.row2 .col-2{
	width:330px;
	margin:0
}
.row2 .col-3{
	width:75px;
	margin:0;
	padding-top:5px;
}
.row2 .col-4{
	width:135px;
	margin:0;
	padding-left: 115px;
}
.row2 .col-5{
	width:84px;
	margin:0;
	padding-top:5px;
	padding-left: 30px;
}
.row2 .col-6{
	width:81px
}
.row2 .col-7{
	width:103px;
	margin:0;
	padding-left: 5px;
}
.row2 .col-8{ width:27px; margin:0; padding-top:15px}
.row2 .col-9{ width:162px; margin:0; padding-top:17px}
.row2 .col-10{ width:77px; margin:0; padding-top:5px}



a{ color:#06a9f6; text-decoration:none; outline:none}
a:hover{
	text-decoration:underline;
}
		
section ul.list{margin:0; padding:0; list-style:none;}
section ul.list li{background:url(../images/marker.gif) top left no-repeat; background-position:0 7px; margin:0; padding-left:15px; }
section ul.list li a{color:#888484; text-decoration:none; line-height:1.5em} 
section ul.list li a:hover { text-decoration: underline; }

.link{color:#000000; background:url(../images/marker.gif) top left no-repeat; padding-left:20px; background-position:0 5px; text-decoration:none; font-size:.916em  }
.link:hover{text-decoration:underline }

.button{color:#fff; background:url(../images/button.gif) top left no-repeat; width:114px; text-align:center; line-height:32px; display:block; text-decoration:none;  }
.button:hover{text-decoration:underline }

.link-1 { display:inline-block; float:right; line-height:28px; background:url(../images/marker2.png) no-repeat 100% 11px #27960c; padding:0 17px 0 13px; color:#fff; text-transform:uppercase; text-decoration:none; border-radius:5px;	-moz-border-radius:5px; -webkit-border-radius:5px; cursor:pointer; position:relative; behavior:url(js/PIE.htc);}
.link-1:hover {background:#000; text-decoration:none; color:#fff}

.but-1 { display:inline-block; float:left; line-height:30px; background:url(../images/but-1.gif) top left repeat-x #fe2c4a; padding:0 10px 0 10px; color:#fff; text-transform:uppercase; text-decoration:none; margin-left:3px; font-size:14px }
.but-1:hover {
	text-decoration:none;
	color:#D6D6D6;
	background:url(../images/but-1-act.gif) top left repeat-x #2ba9fa;
	left: 50px;
	text-align: left;
}

.but-2 { display:inline-block; float:right; line-height:49px; background:url(../images/but-2.gif) top left repeat-x #fe2c4a; padding:0 18px 0 18px; color:#fff; text-transform:uppercase; text-decoration:none; margin-left:3px; font-size:20px; font-weight:bold }
.but-2:hover {
	text-decoration:none;
	color:#fff;
	background-color: #06A9F6;
	background-image: url(../images/but-2-act.gif);
	background-repeat: repeat;
	background-position: left top;
	font-size: 18px;
	text-align: left;
}





/*header*/
header {font-size:0.75em; color:#FFFFFF; height:133px; background:url(../images/top.gif) top left repeat-x; position:relative; z-index:999;}
header .indent{ top:30px; right:1px; position:absolute; padding:0; width:193px}
header .inside{
	top:91px;
	left:0px;
	position:absolute;
	padding:0;
	width:655px
}

header h1 {
	position:absolute;
	top:1px;
	text-indent:-9999px;
	left: 0px;
}
header h1 a { display:block; width:175px; height:71px; background:url(../images/logo.png) no-repeat left top;	}



/*--- superfish dropdown menu begin ---*/
.sf-menu {margin:0; padding:0;	list-style: none; z-index:90000; position:relative } 
.sf-menu li{ margin:0; display:inline; position:relative; float:left; padding-right:20px}
.sf-menu li a{color:#f3f3f3; text-decoration:none; display:block; float:left; line-height:41px; font-size:14px; font-weight:bold; text-transform:uppercase; } 
.sf-menu li a:hover {color:#2ba9fa;  text-decoration:none;   }
.sf-menu li a.current{ color:#2ba9fa; text-decoration:none; }

.sf-menu ul { position:absolute; top:-999em; width:10em; line-height:1.0; }
.sf-menu li:hover ul, .sf-menu li.sfHover ul { top:41px; z-index:99;}

/*** DEMO SKIN ***/
.sf-menu ul {	width:150px;  }
.sf-menu ul li {  text-align:left; line-height:27px; padding:0;  z-index:9; position:relative; border:1px solid #262626;  }
.sf-menu ul li a { line-height:27px; text-align:left; width:140px; padding:0 0 0 10px; background:none; font-size:12px; color:#838486; text-transform:none; z-index:9; background:#000; font-weight:normal}
.sf-menu ul li a:hover { color:#fc0087;  background: url(../images/bg_menu1-act.gif) bottom left repeat-x #1b1a1a; }
.sf-menu ul li:hover{ color:#fc0087; background: url(../images/bg_menu1-act.gif) bottom left repeat-x #1b1a1a; }

.sf-menu ul ul {	width:180px; margin-top:-1px  }
.sf-menu ul ul li a { line-height:27px; text-align:left; width:170px; padding:0 0 0 10px; background:none; font-size:12px; color:#838486; text-transform:none; z-index:9; background:#000; font-weight:normal}
.sf-menu ul li li a:hover { color:#f5f5f5;  background: url(../images/bg_menu1-act.gif) bottom left repeat-x #1b1a1a; }
.sf-menu ul li li:hover{ color:#f5f5f5; background: url(../images/bg_menu1-act.gif) bottom left repeat-x #1b1a1a; }


.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {	 position:relative }

.sf-menu li:hover ul,
.sf-menu li.sfHover ul {	left: 0;	top: 41px; /* match top ul list item height */	z-index: 99;}
.sf-menu li:hover ul ul,
.sf-menu li.sfHover ul ul {	left:150px;	top: 40px; /* match top ul list item height */	z-index: 99;}
				
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul { top:-999em;}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {  /* match ul width */ top:0; margin-left:1px;}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul { top:-999em;}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul { left:10em; /* match ul width */ top:0;}

.sf-sub-indicator {	position: absolute;	display:block;	right:10px;	width:10px;	height:10px; text-indent:-999em; overflow:hidden;}





/*aside*/
aside.aside1 {
	background:url(../images/nightlife.jpg) top center no-repeat #060604;
	height:520px;
	width:100%;
	color:#fff;
	font-size:17px;
	position:relative;
	z-index:9;
}
aside .inside{
	position:absolute;
	right:568px;
	top:20px;
	width:393px;
	height: 435px;
}
aside h1{
	font-size:60px;
	line-height:70px;
	color:#c3c0c0;
	font-weight:normal;
	text-align:right;
	text-transform:uppercase;
	letter-spacing:-3px;
	margin:0
}
aside h2{
	font-size:26px;
	line-height:26px;
	color:#fd3955;
	font-weight:normal;
	text-align:right;
	text-transform:uppercase;
	margin-bottom:40px;
	letter-spacing:-1px;
	
}

aside.aside2 {
	height:213px;
	width:100%;
	color:#fff;
	font-size:17px;
	background-image: url(../images/bg_aside1.jpg);
}

/*content*/
section{
	font-size:0.75em;
	width:100%;
	text-align:left;
	background: url(../images/bg_cont.png) top left repeat-x #fff;
}
section .inside{padding:40px 0px 40px 0px}
.img-left{ float:left; margin:0 20px 16px 0}
.img-indent{ margin:0 19px 0 0}
.banner{ margin-top:20px}
p{
	font-size: 100%;
	/* margin:0 0px 0; */
	/* color: #000000; */
}

.p{ margin:0}
.p1{ margin:0 0 17px 0}
h1{
	color:#FFFFFF;
	text-transform:uppercase;
	font-size:24px;
	margin-bottom:17px;
	line-height:1.2em;
	font-weight:normal
}
h1 span{color:#fd3955; font-size:32px; line-height:1.2em; margin-top:-7px; display:inline-block;}
h1 strong{
	color:#06a9f6;
	font-size:32px;
	font-weight:normal;
	line-height:1.2em;
	margin-top:-5px;
	display:inline-block;
}
h2{
	color:#06A9F6;
	font-size:18px;
	margin-bottom:7px;
	line-height:1.2em;
	text-transform:uppercase;
	font-weight:normal
}
h2 span{
	color:#fefefe;
	font-size: 75%;
}
h4{color:#000; font-size:18px; text-transform:uppercase; font-weight:normal; margin-bottom:9px;  }
h4.color1{color:#fb3487; font-size:18px; text-transform:uppercase; font-weight:normal; margin-bottom:9px;  }
.tail{ background:url(../images/tail.gif) bottom repeat-x; padding-bottom:9px; margin-bottom:9px}
.txt2{ font-size:17px; color:#fff}

.img img{  width:110px; height:142px; margin-bottom:7px}
.img img:hover{ border:7px solid #fff; width:96px; height:128px; -moz-box-shadow: 5px 5px 5px #d6d6d6;  -webkit-box-shadow: 5px 5px 5px #d6d6d6;  box-shadow: 5px 5px 5px #d6d6d6;}
.txt { color:#8a8989}
.txt a{ color:#000; font-weight:bold; text-decoration:none}
.txt a:hover{ text-decoration: underline}
.txt b{ color:#06a9f6}

.txt3{ line-height:2em}
.txt4{ font-weight:normal}

b{ color:#06a9f6}

.img1 img{  width:70px; height:91px; margin-bottom:5px}
.img1 img:hover{ border:4px solid #fff; width:62px; height:83px; -moz-box-shadow: 5px 5px 5px #d6d6d6;  -webkit-box-shadow: 5px 5px 5px #d6d6d6;  box-shadow: 5px 5px 5px #d6d6d6;}
.txt1 { color:#8a8989; font-size:11px; line-height:14px}
.txt1 a{ color:#000; text-decoration:none}
.txt1 a:hover{ text-decoration: underline}
.txt1 b{ color:#06a9f6; font-weight:normal}

.indent{padding:35px 0px 0px 0px}
.indent1{padding:20px 0px 0px 0px}
.indent2{
	padding:0px 0px 0px 0px
}

/*box*/
.box{
	background: url(../images/bg_box.gif) top left repeat-x #000;
	color:#8d8d8d
}
.box .indent-box{
	padding:16px 20px 20px 19px;
	color: #999999;
}
/*box1*/
.box1{ background:#f4f4f4; width:100%;}
.box1 .indent-box{
	padding:5px 5px 7px 4px;
}

/*footer*/
footer { color:#817f7f; font-size:0.75em; background:#f9f9f9}
footer .inside{ padding:20px 0px 32px 0px }
footer a {color:#fc0087; text-decoration:none}  
footer a:hover {  text-decoration:underline}

footer ul{margin:0; padding:0; list-style:none;}
footer ul li{ margin:0px; display:inline; background:url(../images/bg_li.gif) center left no-repeat; float:left; padding-right:14px}
footer ul li a{color:#0b0a0a; text-decoration:none; display:block; float:left; padding:2px 0 2px 0px} 
footer ul li a:hover { text-decoration:none; color:#fc0087 }
footer ul li .current{ text-decoration:none; color:#fc0087  }

 ul.icon{margin:0; padding:0; list-style:none;}
 ul.icon li{
	padding-left:31px;
	display: block;
	margin:2px;
	background:url(../images/icon1.png) top left no-repeat;
	background-position:0 7px
}
 ul.icon .li{
	padding-left:31px;
	display: block;
	margin:2px;
	background:url(../images/icon2.png) top left no-repeat;
	background-position:0 7px
}
 ul.icon .li1{
	padding-left:31px;
	display: block;
	margin:2px;
	background:url(../images/icon3.png) top left no-repeat;
	background-position:0 7px
}
 ul.icon .li2{
	padding-left:31px;
	display: block;
	margin:2px;
	background:url(../images/icon4.png) top left no-repeat;
	background-position:0 7px
}
 ul.icon .li3{
	padding-left:31px;
	display: block;
	margin:2px;
	background:url(../images/icon5.png) top left no-repeat;
	background-position:0 7px
}
 ul.icon li a{color:#06a9f6; font-weight:bold; text-decoration:none; padding:0; line-height:3em} 
 ul.icon li a:hover { text-decoration:none;}

	
.indent-2{ position:relative; padding-left:20px; float:left}
.rowElem2{ height:43px}
.block-contact span{ float:right; margin-right:20px}
.input{
	border:1px solid #333a48;
	background:#050706;
	width:220px !important;
	height:19px;
	font-size:1em;
	color:#FFFFFF;
	padding-left:10px;
	padding-right:10px;
	padding-top:7px;
	padding-bottom:7px;
}

.input1{
	height:21px !important;
	font-size:1em;
	color:#8d8d8d;
	padding:0px;
	display:block
}
	
	
/* Lightbox image */
.lightbox-image {	position:relative;	overflow:hidden; display:block	}
.lightbox-image1 {
	position:relative;
	overflow:hidden;
	float:left;
	background-image: url(images/2page_img1.png);
}
	.lightbox-image img {		position:relative;		z-index:2;		}
	.lightbox-image span {		display:block;		position:absolute;		left:0;		top:0;		width:100%;		height:100%;		background:url(../images/magnify.png) no-repeat 50% 50%;		z-index:1;		}
	.lightbox-image1 img {		position:relative;		z-index:2;		}
	.lightbox-image1 span {		display:block;		position:absolute;		left:0;		top:0;		width:100%;		height:100%;		background:url(../images/magnify.png) no-repeat 50% 50%;		z-index:1;		}
	
/* Easy Tooltip */
#easyTooltip{
	padding:5px 10px;
	border:1px solid #000;
	background:#fff;
	color:#a7a7a7;
	font-size:11px;
	text-transform:none;
	z-index:900;
	position:relative
}
/* // Easy Tooltip */



/*----- forms -----*/
form.jqtransformdone div.rowElem{	clear:both;	height:43px; color:#83858b; font-size:17px;}
form.jqtransformdone div.rowElem1{	clear:both;	height:60px; color:#83858b; font-size:17px;}
.jqTransformSelectWrapper {	position:relative; z-index:999;	height:33px; background: url(../images/bg_input-1.png) no-repeat top left;	float:left;}
.jqTransformSelectWrapper div span { font-size: 17px; float: none; position: absolute; white-space: nowrap; height: 20px; line-height: 20px; padding:8px 0 8px 15px;	overflow: hidden;	cursor:pointer;	}
.jqTransformSelectWrapper  a.jqTransformSelectOpen { display: block; position: absolute; right: 0px; width:33px; height:33px;	background: url(../images/select_right.png) no-repeat center center;}
.jqTransformSelectWrapper ul {	position: absolute;	top:33px; left:0px; list-style: none; background: #fff !important; display: none; margin: 0 0 0 0px !important; padding: 0px;	z-index:999;}
option{ height:10px	}

.jqTransformSelectWrapper ul  li{ background:none!important; height:25px !important; display:block;}
.jqTransformSelectWrapper ul a { display: block !important;	text-align:left !important;	text-decoration: none; padding-left:10px; padding-bottom:10px; background: #252525 !important; font-size:13px !important; height:25px !important; line-height:25px !important; color:#fff;}
.jqTransformSelectWrapper ul a.selected { background:#252525!important; color: #fff; line-height:25px !important; font-size:13px !important;}

.jqTransformSelectWrapper ul a:hover, .jqTransformSelectWrapper ul a.selected:hover {	background:#252525!important;	color: #ababab !important;	text-decoration:none;}

.select {width:238px !important;}
.select1 {width:74px !important;}

.select2 {
	width:115px !important;
}
.select3 {width:115px !important;}
.select4 {
	width:52px !important;
}
.select5 {width:70px !important;}
.select6 {width:233px !important;}

	/* -------------
 * Hidden - used to hide the original form elements
 * ------------- */
.jqTransformHidden {display: none;}

/*Stuff Steven Added */
.pretty_container {
	border: 10px #fff solid;
	background-color: #f1f1f1;
	outline: 1px solid #c7c7c7;
	padding: 10px;
	margin: 1px;
}

#errorMessages {
	border: 1px solid #fb4c8b;
	background-color: #fee0ec;
	color: #FB4C8B;
	display: none;
	padding: 10px;
	font-size: 16px;
}
