.toggles {
	margin-bottom: 0px;
}

.toggle-header {
	border-bottom: 1px dashed #d1d1d1;
	padding-bottom: 15px;
}

.toggle-container h3 {
	float: left;
	color: #747474;
}

.top {
	text-transform: uppercase;
	margin-left: 10px;
	font-size: 12px;
	margin: 10px 0;
	float: right;
}

hr {
	float: left;
}

.toggle-content {
	margin-top: 15px;	
}

.toggle-link {
	height: 20px;
	width: 20px;
	float: right;
	text-transform: uppercase;
	font-size: 11px;
}

.toggle-open {
	background: url(../../images/toggle.png) no-repeat top center;
}

.toggle-close {
	background: url(../../images/toggle.png) no-repeat bottom center;
}

* :focus { outline: 0; }

body {
	background: url(../../images/square-grid.png) repeat #f7f7f7;
	color: #747474 !important;
}

h3 {
	margin-bottom: 0px !important;
}

.full-width {
	margin-bottom: 15px;
}

.toggle-content img {
	border: 4px solid #293134;
}

h4 {
	color: #747474;
}

.italic {
	font-style: italic;
	color: #db7030;
}

.css li {
	font-size: 11px;
}
